<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         verbose="true"
         colors="true">
    <testsuite name="small">
        <directory suffix="Test.php">tests</directory>
        <exclude>vendor</exclude>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="serialize_precision" value="14"/>
    </php>
</phpunit>